<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Random App ORT</title>
	<link rel="stylesheet" href="{{url_for('static', filename='bower_components/normalize-css/normalize.css') }}">
	<link rel="stylesheet" href="{{url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/main.css') }}">
</head>
<body>
	<div class="view container">
		<div class="row"><h1 class="text-center">Random App ORT</h1></div>
		<div class="randomimages">
			<img src="" alt="Random img">
		</div>
	</div>
	<script src="{{url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
	<script src="{{url_for('static', filename='bower_components/underscore/underscore-min.js') }}"></script>
	<script src="{{url_for('static', filename='js/main.js') }}"></script>
</body>
</html>